{% comment %} Phần xử lý ảnh {% endcomment %}
{% if page.img_path %}
  {% assign img_prefix = page.img_path | relative_url | append: '/' %}
  {% assign processed_content = content 
     | replace: 'src="/', 'src="' 
     | replace: 'src="', 'src="' | replace: 'src="', 'src="' 
     | replace: '](/', '](' 
     | replace: '](', '](' | replace: '](', '](' 
     | replace: 'src="', 'src="' | append: img_prefix %}
{% else %}
  {% assign processed_content = content %}
{% endif %}

<div class="content">
  {{ processed_content }}
</div>
